@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Freelancing Portal</h1>
    <p> Hire proven pros with confidence using the world’s largest, remote talent platform. Connect with in-demand, independent professionals and specialized agencies.</p>
</div>
